# macOS
.DS_Store

# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcshareddata/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Others
*.swp